# =========================
# ENV FILES (IMPORTANT)
# =========================
.env

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/
.env/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# LOG FILES
# =========================
*.log

# =========================
# MODEL CACHE (OPTIONAL)
# =========================
.cache/